<?xml version="1.0"?>
<!--
/**
 * Magneto Sponsored
 *
 * @category  Magneto
 * @package   Magneto_Sponsored
 * @author    Magneto
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Magneto\Sponsored\Block\Rewrite\Product\ListProduct"/>
    <preference for="Webkul\Marketplace\Controller\Product\Save" type="Magneto\Sponsored\Controller\Product\Save"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sponsored_listing_data_source" xsi:type="string">Magneto\Sponsored\Model\ResourceModel\Sponsored\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magneto\Sponsored\Model\ResourceModel\Sponsored\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_sponsored_products</argument>
            <argument name="eventPrefix" xsi:type="string">magneto_sponsored_product_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">sponsored_product_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magneto\Sponsored\Model\ResourceModel\Sponsored</argument>
        </arguments>
    </type>

    <virtualType name="SponsoredGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ListsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magneto\Sponsored\Model\ResourceModel\Sponsored\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SponsoredGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
